# tex - temp files
*.aux
*.lbf
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*.lof

# IDE
*/.idea/
*.iml
*.swp
*/img_temp/
*/META-INF/
*/lastDocs/
*/target/

# maven
*/.mvn/
*/mvnw*
*/mvnw.cmd
